name: Lint
"on":
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  tflint:
    name: Build & Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        name: Checkout source code
      - name: System info
        shell: bash
        run: |
          uname -a || true
          arch || true
          file $(which tflint) || true
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('.tflint.hcl') }}
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6 
      - name: Show version
        run: tflint --version
      - name: Init TFLint
        run: tflint --init
        env:
          TF_LOG: DEBUG
      - name: Debug plugin path
        shell: bash
        run: |
          ls -la ~/.tflint.d/plugins/github.com/terraform-linters/tflint-ruleset-aws/*/ || true
          file ~/.tflint.d/plugins/github.com/terraform-linters/tflint-ruleset-aws/*/tflint-ruleset-aws || true
      - name: Run TFLint
        run: tflint -f compact
